

/* .cards {
    width: 90vw;
    border: 1px solid #000;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: 'center';
  
} */

/* .card {
    border: 1px solid #000;
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */

/* img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
} */

/* .social-link {
    margin-top: 20px;
} */

/* i {
    font-size: 25px;
    margin-left: 10px;
} */
